@import url("https://fonts.googleapis.com/css?family=Prata:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,italic&display=swap");
@import "../css/components/font-icons.css";
@import "../css/components/burger.css";
:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Prata", serif;
  --text-primary: #5b5b5b;
  --text-dark: #201f1f;
  --text--link: #939393;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 113.125rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

body {
  font-family: var(--font-family);
  color: var(--text-primary);
}

.header {
  position: fixed;
  top: calc(40px + 27 * ((100vw - 320px) / 1600));
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  gap: calc(20px + 76 * ((100vw - 320px) / 1600));
}
.header__menu {
  display: flex;
  flex-grow: 1;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.menu__link {
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text--link);
  transition: color 0.5s;
}
.menu__link:hover {
  color: var(--text-dark);
}