@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Prata:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,italic&display=swap");
@import "../css/font-icons.css";
@import "../scss/components/burger.css";
@import "../scss/components/burger.css";
@import "../scss/components.css";
@import "../css/filter.css";
@import "../css/components/forms.css";
:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Prata", serif;
  --text-primary: #5b5b5b;
  --text-primary-2: #818181;
  --text-dark: #201f1f;
  --text-dark2: #363535;
  --text-link: #939393;
  --text-form: #949494;
  --text-button: #979797;
  --text-lite-gray: #888;
  --text-gray-bullet: #e1e1e1;
  --text-lite-gray2: #cfcfcf;
  --text-lite-gray3: #bababa;
  --text-counter: #dedede;
  --text-gold: #91795c;
  --background-burger: #f0f0f0;
  --background-item: #fff;
  --background-item-2: #fcfcfc;
  --border-item: #f9f9f9;
  --quote: #f5f5f5;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 113.125rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

[class*=__inner-container] {
  padding-inline: calc(0px + 110 * ((100vw - 320px) / 1600));
}

body {
  font-family: var(--font-family);
  color: var(--text-primary);
}

.header {
  position: fixed;
  top: calc(10px + 57 * ((100vw - 320px) / 1600));
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}
.header__container {
  display: flex;
  align-items: center;
  gap: calc(30px + 66 * ((100vw - 320px) / 1600));
  height: 4.375rem;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  display: flex;
  flex-grow: 1;
}
.header__actions {
  display: flex;
  gap: 1.5rem;
}
.header__button {
  z-index: 5;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: calc(20px + 23 * ((100vw - 320px) / 1600));
       column-gap: calc(20px + 23 * ((100vw - 320px) / 1600));
  row-gap: 0.3125rem;
}
@media (max-width: 47.9988rem) {
  .menu__list {
    flex-direction: column;
    align-items: end;
    row-gap: 1.25rem;
  }
}
.menu__link {
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-link);
  transition: color 0.5s;
}
.menu__link:hover {
  color: var(--text-dark);
}
@media (max-width: 47.9988rem) {
  .menu__link {
    font-size: 2rem;
  }
}

.hero {
  position: relative;
  margin-bottom: calc(40px + 200 * ((100vw - 320px) / 1600));
}
.hero__slider {
  touch-action: pan-y pinch-zoom;
}
.slide-hero {
  position: relative;
}
.slide-hero__content {
  padding-top: calc(80px + 148 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 93 * ((100vw - 320px) / 1600));
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 47.9988rem) {
  .slide-hero__content {
    padding-right: calc(40px + 75 * ((100vw - 320px) / 1600));
    padding-left: calc(40px + 180 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 47.9988rem) {
  .slide-hero__content {
    padding-bottom: 0;
  }
}
.slide-hero__title, .slide-hero__body {
  position: relative;
  z-index: 2;
}
.slide-hero__title {
  font-family: var(--second-family);
  font-size: calc(38px + 52 * ((100vw - 320px) / 1600));
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--text-dark);
}
@media (min-width: 47.9988rem) {
  .slide-hero__title {
    max-width: 37.25rem;
  }
}
.slide-hero__title:not(:last-child) {
  margin-bottom: calc(20px + 52 * ((100vw - 320px) / 1600));
}
.slide-hero__body {
  background-color: #fff;
  padding-block: calc(10px + 35 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 65 * ((100vw - 320px) / 1600));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: calc(10px + 120 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .slide-hero__body {
    max-width: 76.745856%;
  }
}
@media (max-width: 47.9988rem) {
  .slide-hero__body {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 120px;
  }
}
.slide-hero__text {
  font-size: calc(15px + 4 * ((100vw - 320px) / 1600));
  line-height: 2.259;
  letter-spacing: 0.02em;
  color: var(--text-lite-gray);
}
.slide-hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (min-width: 61.9988rem) {
  .slide-hero__text {
    max-width: 45.6875rem;
  }
}
.slide-hero__picture {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
@media (min-width: 61.9988rem) {
  .slide-hero__picture {
    width: 66%;
  }
}
.slide-hero__image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.controlls-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 47.9988rem) {
  .controlls-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin-top: 0;
    pointer-events: none;
  }
}
.controlls-hero__container {
  padding-top: calc(80px + 148 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 93 * ((100vw - 320px) / 1600));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100svh;
}
@media (min-width: 47.9988rem) {
  .controlls-hero__container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
@media (max-width: 47.9988rem) {
  .controlls-hero__container {
    position: static;
    min-height: auto;
    height: 100%;
    justify-content: flex-end;
    padding-top: 0;
  }
}
.controlls-hero__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: calc(20px + 128 * ((100vw - 320px) / 1600));
}
.controlls-hero__bullets {
  pointer-events: auto;
}
.controlls-hero__arrows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 47.9988rem) {
  .controlls-hero__arrows {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: -0.9375rem;
  }
}
.controlls-hero__arrow {
  width: calc(40px + 20 * ((100vw - 320px) / 1600));
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.0625rem solid #515050;
  font-weight: 500;
  color: #515050;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.controlls-hero__arrow::after {
  font-family: "icomoon";
  content: "\e906";
  font-size: 24px;
}
.controlls-hero__arrow:not([disabled]):hover {
  background-color: var(--text-dark);
  color: #fff;
}
.controlls-hero__arrow.swiper-button-disabled {
  color: var(--text-lite-gray2);
  border: 0.0625rem solid var(--text-lite-gray2);
}
@media (max-width: 47.9988rem) {
  .controlls-hero__arrow {
    display: none;
  }
}

.bullets-hero {
  counter-reset: item;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
@media (max-width: 47.9988rem) {
  .bullets-hero {
    display: flex;
    padding-block: calc(15px + 25 * ((100vw - 320px) / 1600));
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
  }
}
.bullets-hero__item {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.294;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-lite-gray2);
  transition: color 0.5s;
  counter-increment: item;
}
.bullets-hero__item::before {
  content: counter(item, decimal-leading-zero);
}
.bullets-hero__item--active {
  color: var(--text-gold);
}
.bullets-hero__item:hover {
  color: var(--text-gold);
}

.swiper-button-prev {
  rotate: -180deg;
}

.swiper-wrapper {
  display: flex !important;
}

.swiper-slide {
  flex-shrink: 0 !important;
  width: 100% !important;
}

.about {
  margin-bottom: calc(40px + 200 * ((100vw - 320px) / 1600));
}
.about__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 47.9988rem) {
  .about__inner-container {
    flex-direction: column;
  }
}
@media (min-width: 47.9988rem) {
  .about__inner-container > * {
    flex-grow: 1;
    flex-basis: 12.5rem;
  }
}
@media (min-width: 47.9988rem) {
  .about__title {
    position: -webkit-sticky;
    position: sticky;
    top: 7.5rem;
  }
}
.about__content {
  display: grid;
  row-gap: calc(20px + 16 * ((100vw - 320px) / 1600));
}
.about__big-text {
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  line-height: 1.724;
  color: var(--text-dark2);
}
.about__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
}
.about__text p:not(:last-child) {
  margin-bottom: calc(10px + 13 * ((100vw - 320px) / 1600));
}
@media (min-width: 47.9988rem) {
  .about__button {
    justify-self: start;
  }
}

.portfolio {
  margin-bottom: calc(40px + 200 * ((100vw - 320px) / 1600));
}
.portfolio__header {
  margin-bottom: calc(20px + 124 * ((100vw - 320px) / 1600));
}
.header-portfolio__inner-container {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 61.9988rem) {
  .header-portfolio__inner-container {
    flex-direction: column;
  }
}
@media (min-width: 61.9988rem) {
  .header-portfolio__body {
    flex-basis: 12.5rem;
    flex-grow: 1;
  }
}
.header-portfolio__title:not(:last-child) {
  margin-bottom: calc(20px + 14 * ((100vw - 320px) / 1600));
}
.header-portfolio__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
}
@media (min-width: 61.9988rem) {
  .header-portfolio__text {
    max-width: 28.75rem;
  }
}
.header-portfolio__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.header-portfolio__filter {
  position: relative;
}
@media (min-width: 991.9808px) {
  .header-portfolio__filter {
    flex-basis: 12.5rem;
    flex-grow: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 3.875rem;
  }
}

.filter-portfolio {
  display: flex;
  -moz-column-gap: calc(10px + 39 * ((100vw - 320px) / 1600));
       column-gap: calc(10px + 39 * ((100vw - 320px) / 1600));
  row-gap: 0.3125rem;
  flex-wrap: wrap;
}
@media (max-width: 61.9988rem) {
  .filter-portfolio {
    justify-content: center;
  }
}
.filter-portfolio__button {
  font-weight: 500;
  line-height: 2.124;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-button);
  transition: color 0.5s;
}
.filter-portfolio__button:hover {
  color: var(--text-gold);
}

.gallery-portfolio {
  display: grid;
  gap: calc(10px + 54 * ((100vw - 320px) / 1600));
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 61.9988rem) {
  .gallery-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery-portfolio__item:nth-child(10n+1), .gallery-portfolio__item:nth-child(10n+8) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery-portfolio__link {
  display: block;
  height: 100%;
}
.gallery-portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  margin-bottom: calc(40px + 200 * ((100vw - 320px) / 1600));
}
.services__inner-container {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 61.9988rem) {
  .services__inner-container {
    flex-direction: column;
  }
}
@media (min-width: 61.9988rem) {
  .services__body {
    flex-basis: 36rem;
    position: -webkit-sticky;
    position: sticky;
    top: 6.25rem;
  }
}
.services__title:not(:last-child) {
  margin-bottom: calc(10px + 24 * ((100vw - 320px) / 1600));
}
.services__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
}
@media (min-width: 61.9988rem) {
  .services__text {
    max-width: 28.75rem;
  }
}
.services__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20.625rem, 100%), 1fr));
  gap: calc(10px + 42 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .services__items {
    flex-grow: 1;
  }
}
.services__item {
  box-shadow: 0 1.3125rem 2.75rem 0 rgba(0, 0, 0, 0.04);
  background-color: var(--background-item);
  border: 1px solid var(--border-item);
  padding-block: calc(5px + 45 * ((100vw - 320px) / 1600));
  padding-inline: calc(5px + 58 * ((100vw - 320px) / 1600));
}

.item-services__title {
  font-weight: 500;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  line-height: 2.124;
  text-transform: capitalize;
  color: var(--text-dark2);
}
.item-services__title:not(:last-child) {
  margin-bottom: 0.375rem;
}
.item-services__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
  color: var(--text-primary-2);
}
.item-services__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.advantages {
  margin-bottom: calc(40px + 155 * ((100vw - 320px) / 1600));
}
.advantages__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 130 * ((100vw - 320px) / 1600));
}
@media (max-width: 47.9988rem) {
  .advantages__inner-container {
    flex-wrap: wrap;
  }
}
.advantages__item {
  display: flex;
  gap: 0.375rem;
  align-items: end;
}
@media (max-width: 47.9999rem) {
  .advantages__item {
    align-items: center;
  }
}

.item-advantages__value {
  font-family: var(--second-family);
  font-size: calc(32px + 88 * ((100vw - 320px) / 1600));
  line-height: 0.8;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--text-counter);
}
.item-advantages__caption {
  line-height: 2.124;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.reviews {
  margin-bottom: calc(40px + 153 * ((100vw - 320px) / 1600));
}
.reviews__container {
  display: flex;
}
@media (max-width: 61.9988rem) {
  .reviews__container {
    flex-direction: column-reverse;
  }
}
.reviews__media {
  flex-grow: 1;
}
.reviews__picture {
  display: none;
}
@media (min-width: 61.9988rem) {
  .reviews__picture {
    display: block;
    margin-right: -20%;
  }
}
.reviews__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__content {
  background-color: var(--background-item);
  padding-top: calc(30px + 95 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 60 * ((100vw - 320px) / 1600));
  padding-inline: calc(10px + 150 * ((100vw - 320px) / 1600));
  margin-top: calc(0px + 133 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .reviews__content {
    flex-basis: 50%;
    flex-shrink: 0;
    min-width: 650px;
  }
}
.reviews__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.reviews__slider {
  overflow: hidden; /* обязательно для Swiper */
  touch-action: pan-y pinch-zoom; /* включает свайп на тач-устройствах */
  width: 100%; /* чтобы контейнер занимал всю доступную ширину */
  position: relative;
}
.slide-reviews__review {
  font-weight: 300;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
  line-height: 2.224;
  letter-spacing: 0.02em;
  display: grid;
}
.slide-reviews__review:not(:last-child) {
  margin-bottom: calc(20px + 13 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .slide-reviews__review::before {
    content: "";
    background: url("../images/reviews/quote.svg") 0 0/100% no-repeat;
    width: 117px;
    aspect-ratio: 117/101;
  }
}
.slide-reviews__name {
  font-weight: 500;
  font-size: calc(18px + 8 * ((100vw - 320px) / 1600));
  line-height: 2.124;
  text-transform: capitalize;
  color: var(--text-dark2);
}
.slide-reviews__position {
  line-height: 2.124;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-primary-2);
}

.bullets-reviews {
  display: flex;
  gap: 1.125rem;
  padding-top: calc(20px + 22 * ((100vw - 320px) / 1600));
}
@media (max-width: 61.9988rem) {
  .bullets-reviews {
    justify-content: center;
    align-items: center;
  }
}
.bullets-reviews__item {
  cursor: pointer;
  aspect-ratio: 1;
  width: 0.625rem;
  background-color: var(--text-gray-bullet);
  transition: background-color 0.5s;
}
.bullets-reviews__item:hover {
  background-color: var(--text-gold);
}
.bullets-reviews__item--active {
  background-color: var(--text-gold);
}

.faqs {
  margin-bottom: calc(40px + 220 * ((100vw - 320px) / 1600));
}
.faqs__inner-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 61.9988rem) {
  .faqs__inner-container {
    flex-direction: column;
    align-items: stretch;
  }
}
@media (min-width: 61.9988rem) {
  .faqs__body {
    flex-basis: 36.25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 6.25rem;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
.faqs__title:not(:last-child) {
  margin-bottom: calc(10px + 24 * ((100vw - 320px) / 1600));
}
.faqs__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
}
@media (min-width: 61.9988rem) {
  .faqs__text {
    max-width: 28.75rem;
  }
}
.faqs__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (min-width: 61.9988rem) {
  .faqs__items {
    max-width: 60rem;
    flex-grow: 1;
  }
}
.faqs__spollers {
  display: grid;
  gap: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.spollers-faqs__item {
  border: 1px solid var(--border-item);
  box-shadow: 0 1.25rem 2.3125rem 0 rgba(0, 0, 0, 0.02);
  background: var(--background-item);
  padding-block: calc(10px + 20 * ((100vw - 320px) / 1600));
  padding-inline: calc(10px + 30 * ((100vw - 320px) / 1600));
}
.spollers-faqs__title {
  cursor: pointer;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  line-height: 1.724;
  letter-spacing: -0.01em;
  color: var(--text-dark2);
  position: relative;
  padding-right: 1.875rem;
  transition: color 0.5s;
}
.spollers-faqs__title:hover {
  color: var(--text-gold);
}
.spollers-faqs__title::before, .spollers-faqs__title::after {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 1.25rem;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.spollers-faqs__title::before {
  content: "+";
}
.spollers-faqs__title::after {
  content: "–";
  opacity: 0;
  transform: scale(0.8);
}
.spollers-faqs__title._active::before {
  opacity: 0;
  transform: scale(0.8);
}
.spollers-faqs__title._active::after {
  opacity: 1;
  transform: scale(1);
}
.spollers-faqs__text {
  padding-top: 0.6875rem;
  line-height: 2.124;
  letter-spacing: 0.02em;
  color: var(--text-primary-2);
}
.spollers-faqs__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.bloghome {
  margin-bottom: calc(40px + 114 * ((100vw - 320px) / 1600));
}
.bloghome__header:not(:last-child) {
  margin-bottom: calc(30px + 50 * ((100vw - 320px) / 1600));
}
.bloghome__title:not(:last-child) {
  margin-bottom: calc(20px + 14 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .bloghome__text {
    max-width: 28.75rem;
  }
}
.bloghome__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.bloghome__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  gap: calc(20px + 21 * ((100vw - 320px) / 1600));
}
.bloghome__items:not(:last-child) {
  margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1600));
}
.bloghome__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-blog__image-link {
  display: block;
  aspect-ratio: 481/412;
  overflow: hidden;
}
.item-blog__image-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.5s;
}
.item-blog__image-link img:hover {
  scale: 1.05;
}
.item-blog__body {
  position: relative;
  z-index: 2;
  border: 0.0625rem solid var(--border-item);
  box-shadow: 0 1.25rem 2.75rem 0 rgba(0, 0, 0, 0.06);
  background-color: var(--background-item);
  padding-inline: calc(5px + 30 * ((100vw - 320px) / 1600));
  padding-block: calc(5px + 25 * ((100vw - 320px) / 1600));
  display: grid;
}
@media (min-width: 61.9988rem) {
  .item-blog__body {
    margin-inline: calc(5px + 25 * ((100vw - 320px) / 1600));
    margin-top: -1.875rem;
  }
}
.item-blog__body > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-blog__body > *:last-child {
  margin-bottom: 0;
}
.item-blog__date {
  display: block;
  font-size: 0.875rem;
  line-height: 2.124;
  color: var(--text-lite-gray3);
}
.item-blog__title {
  font-weight: 500;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.479;
  text-transform: capitalize;
  color: var(--text-dark2);
  transition: color 0.5s;
}
.item-blog__title:hover {
  color: var(--text-gold);
}
.item-blog__text {
  line-height: 2.009;
  letter-spacing: 0.02em;
  color: var(--text-primary-2);
}
.item-blog__text .spoiler-btn {
  font-style: italic;
  font-size: 0.875rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-gold);
  transition: color 0.5s;
}
.item-blog__text .spoiler-btn:hover {
  color: var(--text-dark);
}

.contacts {
  margin-bottom: calc(40px + 48 * ((100vw - 320px) / 1600));
}
.contacts__container {
  display: flex;
}
@media (max-width: 61.9988rem) {
  .contacts__container {
    flex-direction: column-reverse;
    margin-inline: -0.9375rem;
  }
}
.contacts__content {
  background-color: var(--background-item-2);
  padding-top: calc(30px + 53 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 57 * ((100vw - 320px) / 1600));
  padding-inline: calc(10px + 120 * ((100vw - 320px) / 1600));
  margin-top: calc(0px + 128 * ((100vw - 320px) / 1600));
  position: relative;
}
@media (min-width: 61.9988rem) {
  .contacts__content {
    flex-basis: 50%;
    flex-shrink: 0;
    min-width: 650px;
  }
}
.contacts__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.contacts__text {
  line-height: 2.124;
  letter-spacing: 0.02em;
}
@media (min-width: 61.9988rem) {
  .contacts__text {
    max-width: 28.75rem;
  }
}
.contacts__text:not(:last-child) {
  margin-bottom: calc(20px + 82 * ((100vw - 320px) / 1600));
}
.contacts__media {
  flex-grow: 1;
}
.contacts__picture {
  display: none;
}
@media (min-width: 61.9988rem) {
  .contacts__picture {
    display: block;
    margin-left: -20%;
  }
}
.contacts__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__body {
  display: grid;
  gap: calc(20px + 14 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .form__body {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.form__input {
  background-color: var(--background-item-2);
  border-bottom: 0.0625rem solid var(--text-form);
  padding-bottom: 0.3125rem;
  font-style: italic;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-form);
  width: 100%;
}
.form__input::-moz-placeholder {
  font-style: italic;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-form);
}
.form__input:-ms-input-placeholder {
  font-style: italic;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-form);
}
.form__input::placeholder {
  font-style: italic;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-form);
}
@media (min-width: 61.9988rem) {
  .form__area {
    grid-column: span 2;
  }
}
.form__area textarea {
  width: 100%;
  padding-top: 5px;
  resize: vertical;
}
.form__button {
  background-color: var(--text-dark);
  color: var(--background-item);
  transform: all 0.5s;
}
.form__button:hover {
  color: var(--text-dark);
  background-color: var(--background-item);
}