// Подключение шрифтов только в самом верху
@import url("https://fonts.googleapis.com/css?family=Prata:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,italic&display=swap");
// @import url("../css/fonts.css");
// @import url("../css/icons-fonts.css");
@import "../css/font-icons.css";
@import "../scss/components/burger.css";
// @import "../css/components/anim.css";
// @import "../scss/components/ibj.scss";
// @import "../scss/components/adaptive-font";
// $maxWidth: 1280;
// @include adaptive-font(40, 24);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач.)
@import "../scss/adaptive-value.scss";
// @include adaptive-value("padding", 40, 24, 0);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач., 3 - режим)
$maxWidth: 1920;
$maxWidthContainer: 1810;
// max-width(1170px){}
// max-width(991.98px){}
// max-width(767.98px){}
// max-width(479.98px){}
// чтоб перевести в rem, нужно ..px / 16px
:root {
	--font-family: "Rubik", sans-serif;
	--second-family: "Prata", serif;
	--text-primary: #5b5b5b;
	--text-dark: #201f1f;
	--text-link: #939393;
	--text-lite-gray: #888;
	--background-burger: #f0f0f0;
}
// :root {
// 	--text-default: #101010;
// 	--text-primary: #db574d;
// 	--text-muted: rgba(16, 16, 16, 0.6);
// 	--text-inverse: #fff;
// }
// color: var(--text-default);
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip; // работает с position: sticky;
	// min-width: 320px;
	// max-width: 1920px;
	//block-size: 100%;
}
// ==== Чтоб прибить футер к низу разрешаем main расширяться

.wrapper > main {
	flex-grow: 1;
}

// ===============Ограничивающий контейнер через селктор класса============
[class*="__container"] {
	max-inline-size: 113.125rem;
	margin-inline: auto;
	padding-inline: 0.9375rem;

	// max-width: 1230px;
	// margin: 0 auto;
	// padding: 0 15px;
	// box-sizing: border-box;

	// ======== Стандартная адаптивная сетка ================================
	// @media (max-width: 1199.98px) {
	//   max-width: 970px;
	// }
	// @media (max-width: 991.98px) {
	//   max-width: 750px;
	// }
	// @media (max-width: 767.98px) {
	//   max-width: none;
	// }
}

body {
	font-family: var(--font-family);
	color: var(--text-primary);
}

// =============== header ==========

.header {
	position: fixed;
	@include adaptive-value("top", 67, 5, 0);
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.8);
	&__container {
		display: flex;
		align-items: center;
		@include adaptive-value("gap", 96, 20, 0);
	}

	&__logo {
		position: relative;
		z-index: 5;
	}

	&__menu {
		display: flex;
		flex-grow: 1;
	}

	&__actions {
		display: flex;
		gap: 1.5rem;
	}

	&__button {
		z-index: 5;
	}
}

.menu {
	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptive-value("column-gap", 43, 20, 0);
		row-gap: 0.3125rem;
		@media (max-width: 47.9988rem) {
			flex-direction: column;
			align-items: end;
			row-gap: 1.25rem;
		}
	}

	&__item {
	}

	&__link {
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--text-link);
		transition: color 0.5s;
		&:hover {
			color: var(--text-dark);
		}
		@media (max-width: 47.9988rem) {
			font-size: 2rem;
		}
	}
}

// ===============

.main {
}

// ============== hero ==========
.hero {
	position: relative;
	&__container {
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}
}

.slide-hero {
	&__container {
	}
	&__content {
		@include adaptive-value("padding-top", 228, 80, 0);
		@include adaptive-value("padding-bottom", 123, 30, 0);
		@media (min-width: 61.9988rem) {
			@include adaptive-value("padding-left", 220, 50, 0);
		}

		min-height: 100svh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title,
	&__body {
		position: relative;
		z-index: 2;
	}
	&__title {
		font-family: var(--second-family);
		@include adaptive-value("font-size", 90, 38, 0);
		line-height: 1.1;
		text-transform: capitalize;
		color: var(--text-dark);
		@media (min-width: 47.9988rem) {
			max-width: 37.25rem;
		}
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 72, 20, 0);
		}
	}
	&__body {
		background-color: #fff;
		@include adaptive-value("padding-block", 45, 10, 0);
		@include adaptive-value("padding-left", 40, 10, 0);
		@include adaptive-value("padding-right", 75, 10, 0);
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include adaptive-value("gap", 130, 10, 0);
		@media (min-width: 61.9988rem) {
			max-width: 76.745856%;
			// max-width: 1190px;
		}
		@media (max-width: 61.9988rem) {
			flex-direction: column;
		}
	}

	&__text {
		@include adaptive-value("font-size", 19, 15, 0);
		line-height: 2.259;
		letter-spacing: 0.02em;
		color: var(--text-lite-gray);
		p {
			&:not(:last-child) {
				margin-bottom: 0.625rem;
			}
		}
		@media (min-width: 61.9988rem) {
			max-width: 45.6875rem;
		}
	}

	&__link {
		line-height: 1.684;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: var(--text-dark);
		display: flex;
		flex-direction: row-reverse;
		flex-shrink: 0;
		gap: 0.4375rem;
		align-items: center;
		@include adaptive-value("padding-block", 20, 15, 0);
		@include adaptive-value("padding-inline", 35, 15, 0);
		border: 0.0625rem solid #b8b8b8;
		transition: all 0.5s;
		&:hover {
			color: #b8b8b8;
			background-color: var(--text-dark);
		}
		&::before {
		}
	}

	&__picture {
		position: absolute;
		right: 0;
		// right: -0.9375rem;
		top: 0;
		height: 100%;
		@media (max-width: 991.9808px) {
			// left: -0.9375rem;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero-controlls {
}
.controlls-hero {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	pointer-events: none;
	&__container {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__bullets {
	}

	&__arrows {
	}

	&__arrow {
		width: 3.75rem;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 0.0625rem solid #515050;
		font-weight: 500;
		color: #515050;
		pointer-events: auto;
		&::after {
			font-family: "icomoon";
			content: "\e906";
			font-size: 39px;
			line-height: 1.294;
			letter-spacing: 0.02em;
			text-transform: capitalize;
		}
	}
}
.bullets-hero {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-pagination {
}
// .swiper{
// 	overflow: hidden;
// }
// .swiper-initialized{
// 	touch-action: pan-y;
// }
// .swiper-vertical{
// 	.swiper-wrapper{
// 		flex-direction: column;
// 	}
// }
// .swiper-wrapper{
// 	width: 100%;
// 	height: 100%;
// 	box-sizing: content-box;
// 	display: flex;
// }
// .swiper-slide {
// }
