@import "https://fonts.googleapis.com/css?family=Prata:regular&display=swap";
@import "https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,italic&display=swap";
:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Prata", sans-serif;
  --text-primary: #5b5b5b;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}
body {
  font-family: var(--font-family);
  color: var(--text-primary);
}
