.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  background-color: #2f3b29;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: green;
  color: azure;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  letter-spacing: 1px;
  transition: background-color 0.5s;
  overflow: hidden;
}
.button:hover {
  background-color: #68805d;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 3s ease forwards;
          animation: button-circle 3s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}