@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900&display=swap");
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 1070px;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Montserrat";
}

.page__section {
  padding: calc(20px + 30 * ((100vw - 320px) / 1600));
  min-height: 100vh;
}
.page__section:nth-child(1) {
  background-color: rgb(18, 124, 89);
}
.page__section:nth-child(2) {
  background-color: rgb(151, 92, 19);
}
.page__title {
  font-weight: 700;
  font-size: calc(24px + 16 * ((100vw - 320px) / 1600));
  margin-bottom: calc(20px + 40 * ((100vw - 320px) / 1600));
}
.page__row {
  display: flex;
  gap: 1.25rem;
}
.page__counter {
  flex: 0 1 33.333%;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: cornsilk;
}