@font-face {
  font-family: 'ClashDisplay-Regular';
  font-display: swap;
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}