@font-face {
  font-family: 'icomoon';
  src:  url('/font-icons/icomoon.eot?ed7uru');
  src:  url('/font-icons/icomoon.eot?ed7uru#iefix') format('embedded-opentype'),
    url('/font-icons/icomoon.ttf?ed7uru') format('truetype'),
    url('/font-icons/icomoon.woff?ed7uru') format('woff'),
    url('/font-icons/icomoon.svg?ed7uru#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-down-left:before {
  content: "\e901";
}
.icon-arrow-down-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-arrow-up-left:before {
  content: "\e906";
}
.icon-arrow-up-right:before {
  content: "\e907";
}
.icon-behance:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-dribbble:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-info:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-link:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-pinterest:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-tictok:before {
  content: "\e914";
}
.icon-twitch:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-whatsapp:before {
  content: "\e917";
}
.icon-youtube:before {
  content: "\e918";
}
